.formContainer{
    background: rgba(255, 255, 255, 0.705);
    width: 37%;  
    padding-left: 2%;
    padding-right: 2%;  
}

.form{
    width: 100%;
    margin: 0 auto;
  
}
.FormControl{
    width: 15%;
}